*

!/.gitignore
!/HotelHub.md
!/docker-compose.yml

!/frontend/
!/frontend/**
!/gateway/
!/gateway/**
!/server1/
!/server1/**
!/server2/
!/server2/**

node_modules/
.next/
dist/
build/
.turbo/
.venv/
.venv311/
__pycache__/
*.pyc
.DS_Store
server2/app/__pycache__/
